/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



#mount {
    position: absolute;
    top: 15%;
    width: 90px;
    height: 35px;
    background-color: #f79c6b;
    border-radius: 15px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    z-index: 1;
}

#jungle {
    position: absolute;
    top: 25%;
    width: 90px;
    height: 35px;
    background-color: #25ea60;
    border-radius: 15px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    z-index: 1;
}

#ocean {
    position: absolute;
    top: 35%;
    width: 90px;
    height: 35px;
    background-color: #1ef7c9;
    border-radius: 15px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    z-index: 1;
}

#desert {
    position: absolute;
    top: 45%;
    width: 90px;
    height: 35px;
    background-color: #fae9a0;
    border-radius: 15px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    z-index: 1;
}

#beach {
    position: absolute;
    top: 55%;
    width: 90px;
    height: 35px;
    background-color: #a0f7fa;
    border-radius: 15px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    z-index: 1;
}

#home {
    position: absolute;
    top: 65%;
    width: 90px;
    height: 35px;
    background-color: #bfcbcb;
    border-radius: 15px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    z-index: 1;
}

.mountimg {
    background-image: url(D:\workspace\WebProgramming\Project2\Project2\Properties);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}