@page
@model Project_2.Pages.beachModel
@{
    ViewData["Title"] = "beach";
}
   


<html>
<head>

    <link rel="stylesheet" href="~/css/beach.css" type="text/css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
    <h1>beach</h1>
</head>
<body>
    
</body>
</html>