@page
@model Project_2.Pages.desertModel
@{
    ViewData["Title"] = "desert";
}



<html>
<head>

    <h2>desert</h2>
    <link rel="stylesheet" href="~/css/desert.css" type="text/css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
    
</head>
<body>

</body>
</html>