@page
@model Project_2.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}


<html>
<head>
    <title>Grid Menu</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />

</head>
<body>
    <!--<button id="mount">Mountains</button>
    <br />
    <button id="jungle">Jungle</button>
    <br />
    <button id="ocean">Ocean</button>
    <br />
    <button id="desert">Desert</button>
    <br />
    <button id="beach">Beach</button>
    <br />

    <button id="home" ="homeImg">Home</button>
    <br />-->
</body>
</html>