@page
@model Project_2.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}



<html>
<head>
    <link rel="stylesheet" href="~/css/Index.css" type="text/css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>
<body>
    <div class="banner">
        <div class="banner-text">
            <h1>SKYSCRAPER</h1>
        </div>
    </div>
</body>
</html>