@page
@model Project_2.Pages.jungleModel
@{
    ViewData["Title"] = "jungle";
}







<html>
<head>

    <link rel="stylesheet" href="~/css/jungle.css" type="text/css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>
<body>
    <div class="banner">
        <div class="banner-text">
            <h1>Jungle</h1>
            <h3>Feel nature</h3>
        </div>
    </div>
</body>
</html>