@page
@model Project_2.Pages.mountainModel
@{
    ViewData["Title"] = "mountain";
}






<html>
<head>
    <h2>mountain</h2>
  
    <link rel="stylesheet" href="~/css/mountain.css" type="text/css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />

</head>
<body>

</body>
</html>