@page
@model Project_2.Pages.mountainModel
@{
    ViewData["Title"] = "mountain";
}




<head>
    <link rel="stylesheet" href="~/css/mountain.css" type="text/css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>
<body>
    <div class="banner">
        <div class="banner-text">
            <h1>Mountain</h1>
        </div>
    </div>
</body>
</html>
