@page
@model Project_2.Pages.oceanModel
@{
    ViewData["Title"] = "ocean";
}






<html>
<head>
    <h2>ocean</h2>
  
    <link rel="stylesheet" href="~/css/ocean.css" type="text/css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />

</head>
<body>

</body>
</html>