@page
@model Project_2.Pages.oceanModel
@{
    ViewData["Title"] = "ocean";
}

<html>
<head>

    <link rel="stylesheet" href="~/css/ocean.css" type="text/css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
</head>
<body>
    <div class="banner">
        <div class="banner-text">
            <h1>Ocean</h1>
            <h3>Uncover beauty</h3>
        </div>
    </div>
</body>
</html>